/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF CSS-RESET*/
/*
* {
	border: 1px dashed black !important;
}

* * {
	border: 1px dashed blue !important;
}

* * * {
	border: 1px dashed red !important;
}*/

header {
	position: fixed;
	height: 10%;
}

.main {
	height: 100%;
	width: 100%;
}

.project_container {
	position: relative;
	display: inline-block;
}

.project_title_container {
	position: absolute;
	display: inline-block;
  	white-space: nowrap;
  	font-size: 4em;
  	float: left;

  	height: 100%;
  	width: 25%;
  	top: 0;
  	left: 0;



  	/*top: 50%;*/
}

.project_title {
	position: relative;
	top: 50%;
	left: 50%;

	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
 	-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	-o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	transform: translateX(-50%) translateY(-50%) rotate(-90deg);

  	display: inline-block;
}

.project_link {
	position: relative;
	font-size: 1em;
	display: inline-block;
	float: right;
	width: 70%;
	margin-top: 100px;
	top: 0;
	opacity: 0;
}

.project_description {
	position: relative;
	font-size: 1em;
	display: inline-block;
	float: right;
	width: 30%;
	margin: 5% 5%;
	top: 0;
	opacity: 0;
}

.project_metadata {
	position: relative;
	font-size: 1em;
	display: inline-block;
	float: right;
	width: 25%;
	margin: 5% 5%;
	top: 0;
	opacity: 0;
}

.project_image {
	position: relative;
	width: 65%;
	display: inline-block;
	float: right;
	top: 0;
	opacity: 0;
	margin: 5% 5%;
}

.hidden {
	display: none;
}


