/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-transition:background 1s, color 1s, fill 1s;
	-moz-transition:background 1s, color 1s, fill 1s;
	-o-transition:background 1s, color 1s, fill 1s;
	transition:background 1s, color 1s, fill 1s;
	display: inline-block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF CSS-RESET*/
/*
* {
	border: 1px dashed black !important;
}

* * {
	border: 1px dashed blue !important;
}

* * * {
	border: 1px dashed red !important;
}*/

header {
	position: fixed;
	height: 15%;
	width: 100%;
	z-index: 100;
}

canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 150%;
}

#pointer {
	position: fixed;
	width: 30px;
	bottom: 50px;
	left: 40px;
	z-index: 1000;
}

#loading_screen {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 100;
}

#loading_gif { 
    position: fixed;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
}

#loading_screen_text {
	position: fixed;
	top: 50%;
	width: 100%;
	height: 100px;
	line-height: 100px;
}

#header_text {
	position: fixed;
	float: right;
	font-size: 10pt;
	right: 5%;
	top: 30px;
	opacity: 0;
	z-index: 100;
	text-align: left;
	font-family: 'Work Sans', sans-serif;
}

#logo {
	position: relative;
	width: 56px;
	height: 56px;
	left: 20px;
	top: 10px;
	opacity: 0;
	z-index: 100;
}

#logo_wrap {
	position: fixed;
	display: inline-block;
	height: 15%;
	width: 100%;
}

#about {
	height: 100%;
	width: 100%;
	position: relative;
}

#main_title {
	position: relative;
	display: inline-block;
	font-size: 4vw;
	width: 70%; 
	margin-left: 15%;
	top: 15%;
	opacity: 0;
	line-height: 150%;
	text-align: justify;

	font-family: SabonLTPro-Roman;
	font-weight: normal;
	font-style: normal;
	z-index: 100;
}

#services {
	position: relative;
	width: 25%;
	left: 30%;
	top: 15%;
	text-align: center;
	display: inline-block;
	opacity: 0;
	z-index: 100;
}

#clients {
	position: relative;
	width: 25%;
	right: 15%;
	top: 15%;
	text-align: center;
	display: inline-block;
	opacity: 0;
	z-index: 100;
	float: right;
}

#contact {
	position: absolute;
	display: inline-block;
	text-align: left;
	line-height: 175%;
	font-size: 1vw;
	left: 53px;
	top: 70%;
  	opacity: 0;

	-webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  	-moz-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
 	-ms-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  	-o-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  	transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  	font-family: 'Work Sans', sans-serif;
  	z-index: 100;
}

.col_title {
	font-size: 3vw;
	width: 100%;
	margin-bottom: 15px;
	text-align: left;

	font-family: SabonLTPro-Roman;
	font-weight: normal;
	font-style: normal;
}

.left_col {
	font-size: 1vw;
	width: 50%;
	display: inline-block;
	float: left;
	text-align: left;
	line-height: 175%;
	font-family: 'Work Sans', sans-serif;
}

.right_col {
	font-size: 1vw;
	width: 50%;
	display: inline-block;
	position: relative;
	text-align: left;
	line-height: 175%;
	font-family: 'Work Sans', sans-serif;
}


.project_container {
	position: relative;
	display: inline-block;
}

.project_title_container {
	position: fixed;
	display: inline-block;
  	white-space: nowrap;
  	font-size: 56pt;
  	float: left;

  	height: 100%;
  	width: 25%;
  	top: 0px;
  	left: 0;
  	opacity: 0;

  	text-align: center;
  	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.project_title {
	position: relative;
	top: 50%;
	left: 50%;

	font-family: SabonLTPro-Roman;
	font-weight: normal;
	font-style: normal;
	display: inline-block;

	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
 	-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	-o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.project_link {
	position: relative;
	font-size: 10pt;
	display: inline-block;
	float: right;
	width: 70%;
	margin-top: 200px;
	top: 0px;
	opacity: 0;
	font-family: 'Work Sans', sans-serif;
}

.project_description {
	position: relative;
	font-size: 10pt;
	display: inline-block;
	width: 30%;
	margin-left: 30%;
	margin-right: 5%;
	margin-top: 50px;
	margin-bottom: 50px;
	top: 0px;
	opacity: 0;
	line-height: 150%;
	font-family: 'Work Sans', sans-serif;
}

.project_metadata {
	position: relative;
	font-size: 10pt;
	display: inline-block;
	float: right;
	width: 25%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 10%;
	top: 0px;
	opacity: 0;
	line-height: 150%;
	font-family: 'Work Sans', sans-serif;
}

.project_image {
	position: relative;
	width: 65%;
	display: inline-block;
	float: right;
	top: 0px;
	opacity: 0;
	margin: 5% 5%;
}

/*
@media (max-width: 900px) {
	#main_title {
		position: absolute;
		display: block;
		font-size: 36pt;
		width: 616px; 
		left: 50%;
		margin-left: -308px;
		margin-top: 120px;
		top: 0px;
		opacity: 0;

		line-height: 150%;

		font-family: SabonLTPro-Roman;
		font-weight: normal;
		font-style: normal;
	}

	#services {
		position: absolute;
		width: 230px;
		left: 20%;
		text-align: center;
		top: 50%;
		opacity: 0;
		margin-top: 50px;
	}

	#clients {
		position: absolute;
		width: 230px;
		left: 60%;
		text-align: center;
		top: 50%;
		opacity: 0;
		margin-top: 50px;
	}

	#contact {
		position: absolute;
		display: inline-block;
		text-align: left;
		line-height: 175%;
		font-size: 10pt;
		left: 0px;
		top: 70%;
	  	opacity: 0;

		-webkit-transform: translateY(-50%) rotate(-90deg);
	  	-moz-transform: translateY(-50%) rotate(-90deg);
	 	-ms-transform: translateY(-50%) rotate(-90deg);
	  	-o-transform: translateY(-50%) rotate(-90deg);
	  	transform: translateY(-50%) rotate(-90deg);
	  	font-family: 'Work Sans', sans-serif;
	}

	.col_title {
		font-size: 24pt;
		width: 100%;
		margin-bottom: 15px;
		text-align: left;

		font-family: SabonLTPro-Roman;
		font-weight: normal;
		font-style: normal;
	}

	.left_col {
		font-size: 10pt;
		width: 50%;
		display: inline-block;
		float: left;
		text-align: left;
		line-height: 175%;
		font-family: 'Work Sans', sans-serif;
	}

	.right_col {
		font-size: 10pt;
		width: 50%;
		display: inline-block;
		position: relative;
		text-align: left;
		line-height: 175%;
		font-family: 'Work Sans', sans-serif;
	}
}*/

@media only screen and (max-device-width: 480px) {
	
	header {
		position: fixed;
		height: 15%;
		width: 100%;
		z-index: 100;
	}

	#loading_screen {
		position: fixed;
		width: 100%;
		height: 100%;
		text-align: center;
		z-index: 100;
	}

	#loading_gif { 
	    position: fixed;
	    width: 200px;
	    top: 50%;
	    left: 50%;
	    margin-top: -150px;
	    margin-left: -100px;
	}

	#loading_screen_text {
		position: fixed;
		top: 50%;
		width: 100%;
		height: 100px;
		line-height: 100px;
		/*margin-top: 0px;*/
	}

	#header_text {
		position: fixed;
		float: right;
		font-size: 10pt;
		width: 400px;
		right: 0px;
		top: 50px;
		opacity: 0;
		z-index: 100;
		text-align: left;
	}

	#logo {
		position: relative;
		/*height: 80%;*/
		width: 80px;
		height: 80px;
		left: 16px;
		top: 16px;
		opacity: 0;
		z-index: 100;
		/*fill: red;*/
	}

	#logo_wrap {
		position: fixed;
		display: inline-block;
		/*left: 15%;*/
		/*top: 15%;*/
		height: 15%;
		width: 100%;
	}

	.project_container {
		position: relative;
		display: inline-block;
	}

	.project_title_container {
		position: absolute;
		display: inline-block;
	  	white-space: nowrap;
	  	font-size: 48pt;
	  	float: initial;

	  	height: auto;
	  	width: 100%;
	  	top: 0px;
	  	left: 0;
	  	opacity: 1;
	  	text-align: center;

	}

	.project_title {
		position: relative;
		top: 0;
		left: 0;

		-webkit-transform: translateX(0) translateY(0) rotate(0);
	  	-moz-transform: translateX(0) translateY(0) rotate(0);
	 	-ms-transform: translateX(0) translateY(0) rotate(0);
	  	-o-transform: translateX(0) translateY(0) rotate(0);
	  	transform: translateX(0) translateY(0) rotate(0);
	}

	.project_link {
		position: relative;
		font-size: 10pt;
		display: inline-block;
		float: initial;
		width: 100%;
		margin-top: 150px;
		top: 0px;
		opacity: 1;

		text-align: center;
	}

	.project_description {
		position: relative;
		font-size: 10pt;
		display: inline-block;
		width: 90%;
		margin: 5% 5%;
		padding-left: 0;
		top: auto;
		opacity: 1;

		text-align: center;
	}

	.project_metadata {
		position: relative;
		font-size: 10pt;
		display: inline-block;
		float: initial;
		width: 90%;
		margin: 5% 5%;
		top: auto;
		opacity: 1;

		text-align: center;
	}

	.project_image {
		position: relative;
		width: 90%;
		display: inline-block;
		float: initial;
		top: 0px;
		opacity: 1;
		margin: 5% 5%;
	}

	#about {
		height: 100%;
		width: 100%;
		position: relative;
	}

	#main_title {
		position: absolute;
		display: block;
		font-size: 36pt;
		width: 616px; 
		left: 50%;
		margin-left: -308px;
		margin-top: 20%;
		top: 0px;
		opacity: 0;

		line-height: 150%;

		font-family: SabonLTPro-Roman;
		font-weight: normal;
		font-style: normal;
	}

	#services {
		position: absolute;
		width: 280px;
		left: 20%;
		text-align: center;
		top: 50%;
		opacity: 0;
		margin-top: 50px;
	}

	#clients {
		position: absolute;
		width: 280px;
		left: 60%;
		text-align: center;
		top: 50%;
		opacity: 0;
		margin-top: 50px;
	}

	#contact {
		position: absolute;
		display: inline-block;
		text-align: left;
		line-height: 175%;
		font-size: 10pt;
		left: 40px;
		top: 70%;
	  	opacity: 0;

		-webkit-transform: translateY(-50%) rotate(-90deg);
	  	-moz-transform: translateY(-50%) rotate(-90deg);
	 	-ms-transform: translateY(-50%) rotate(-90deg);
	  	-o-transform: translateY(-50%) rotate(-90deg);
	  	transform: translateY(-50%) rotate(-90deg);
	  	font-family: 'Work Sans', sans-serif;
	}

	.col_title {
		font-size: 24pt;
		width: 100%;
		margin-bottom: 15px;
		text-align: left;

		font-family: SabonLTPro-Roman;
		font-weight: normal;
		font-style: normal;
	}

	.left_col {
		font-size: 10pt;
		width: 50%;
		display: inline-block;
		float: left;
		text-align: left;
		line-height: 175%;
		font-family: 'Work Sans', sans-serif;
	}

	.right_col {
		font-size: 10pt;
		width: 50%;
		display: inline-block;
		position: relative;
		text-align: left;
		line-height: 175%;
		font-family: 'Work Sans', sans-serif;
	}
}