@font-face {
    font-family: 'America XIX';
    src: local('America XIX'), url('americaxix.woff2') format('woff2'), url('americaxix.woff') format('woff'), url('americaxix.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
