* {
	font-family: helvetica-neue-regular, sans-serif;
}

.side-nav {
	position: relative;
	width: 200px;
	margin: 0;
	float: left;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

#feature {
	position: fixed;
	top: 0px;
	left: 200px;
	float: left;
	display: none;
}