* {
	font-family: helvetica-neue-regular, sans-serif;
}

.side-nav {
	position: relative;
	width: 20%;
	margin: 0;
	float: left;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

#feature {
	position: relative;
	float: left;
}