#homeContainer {
	/*height: 100%;*/
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

#homeHeaderContainer {
	opacity: 0;
	flex-grow: 2;
	-moz-animation-name : fadeInUp;
    -moz-animation-duration : 1s;
    -moz-animation-iteration-count : 1;
    -moz-animation-fill-mode : forwards;

    -webkit-animation-name : fadeInUp;
    -webkit-animation-duration : 1s;
    -webkit-animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
}

#homeIntroContainer {
	opacity: 0;
	flex-grow: 8;
	-moz-animation-name : fadeInUp;
    -moz-animation-duration : 1s;
    -moz-animation-iteration-count : 1;
    -moz-animation-fill-mode : forwards;
    -moz-animation-delay: 1s;

    -webkit-animation-name : fadeInUp;
    -webkit-animation-duration : 1s;
    -webkit-animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
    -webkit-animation-delay: 1s;	
}

#homeCoffeeContainer {
	opacity: 0;
	flex-grow: 4;
	-moz-animation-name : fadeInUp;
    -moz-animation-duration : 1s;
    -moz-animation-iteration-count : 1;
    -moz-animation-fill-mode : forwards;
	-moz-animation-delay: 2s;

    -webkit-animation-name : fadeInUp;
    -webkit-animation-duration : 1s;
    -webkit-animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
	-webkit-animation-delay: 2s;
}

#homeButtonContainer {
	opacity: 0;
	flex-grow: 1;
	-moz-animation-name : fadeInUp;
    -moz-animation-duration : 1s;
    -moz-animation-iteration-count : 1;
    -moz-animation-fill-mode : forwards;
	-moz-animation-delay: 3s;

    -webkit-animation-name : fadeInUp;
    -webkit-animation-duration : 1s;
    -webkit-animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
	-webkit-animation-delay: 3s;
}
