* {
	font-family: 'Montserrat', sans-serif;
	/*border: dashed 1px;*/
}

::-webkit-scrollbar { 
    display: none; 
}

body,html{
	/*height: 100% !important;*/
	/*overflow: hidden;*/
}

#logo {
	position: fixed;
	height: 80px;
	z-index: 500;
}

#bottom-nav {
	position: fixed;
	right: 0;
	bottom: 50px;
	width: 700px;
	color: #aaaaaa;
	z-index: 500;
}

.bottom-nav-btn {
	position: relative;
	display: inline-block;
	margin-right: 16%;
	float: right;
	font-size: 2em;
	border-bottom: solid 3px transparent;
}

.project-container {
	position: fixed;
	height: 100%;
	white-space: nowrap;
	top: 100%;
}

.project-img {
	position: relative;
	height: 580px;
	width: 870px;
	left: 650px;
	top: 50%;
	margin-top: -300px;
	margin-right: 200px;
	box-shadow: 20px 20px 20px #cccccc;
	border: none;
}

.project-metadata {
	position: fixed;
	display: inline-block;
	width: 340px;
	height: 320px;
	left: 150px;
  	top: 50%;
  	margin-top: -160px;
  	white-space: normal;
}

.project-title {
	position: relative;
	font-size: 2em;
	margin-bottom: 50px;
}

.project-description {
	position: relative;
	font-size: .9em;
}

.project-launch {
	position: relative;
	font-size: 2em;
	display: inline-block;
	border: solid 2px black;
	width: 220px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 50px;
}

.containers {
	/*display: none;*/
	/*opacity: 0;*/
}

#about-container {
	position: fixed;
	width: 400px;
	top: 50%;
	margin-top: -200px;
	left: 30%;
}

#contact-container {
	position: fixed;
	width: 400px;
	top: 50%;
	margin-top: -200px;
	left: 30%;
}

/*.spacingdiv {
	position: relative;
	height: 100px;
	width: 600px;
	left: 650px;
	box-shadow: 20px 20px 20px #cccccc;
	display: inline-block;
}*/