/* * {
  background-color: black; }

* {
  box-sizing: border-box; }
*/

header {
  position: relative;
  width: 75%;
  margin: 0 auto; }
  header #subheader {
    position: relative;
    height: 100px;
    border-bottom: 2px solid black; }
    header #subheader #logo {
      display: inline-block;
      float: left;
      width: 213px;
      height: 91px; }
    header #subheader #type-container {
      display: inline-block;
      position: absolute;
      right: 0; }
      header #subheader #type-container ul {
        margin: 0;
        padding: 0;
        right: 10px; }
        header #subheader #type-container ul li {
          display: inline-block;
          list-style-type: none;
          line-height: 100px;
          width: 123px;
          height: 92px;
          text-align: center;
          background-opacity: 0.45; }
        header #subheader #type-container ul li::after {
          content: "";
          background: url(image.jpg);
          opacity: 0.5;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1; }
  header #navigation-container {
    padding: 10px 0px;
    overflow: hidden;
    position: relative; }
    header #navigation-container ul {
      margin: 0;
      padding: 0;
      float: right; }
      header #navigation-container ul li {
        margin-left: 13px;
        display: inline;
        list-style-type: none; }
        header #navigation-container ul li a {
          text-decoration: none; }

footer {
  width: 75%;
  padding: 10px 0px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden; }
  footer p {
    display: inline; }
  footer ul {
    margin: 0;
    padding: 0;
    float: right; }
    footer ul li {
      display: inline;
      list-style-type: none;
      margin-left: 13px; }
      footer ul li a {
        text-decoration: none; }

#story-background {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 560px; }
  #story-background #story {
    width: 300px;
    height: 200px;
    padding: 15px 8px;
    position: absolute;
    bottom: 60px;
    left: 230px; }
    #story-background #story h2 {
      position: relative;
      bottom: 20px; }
    #story-background #story p {
      position: relative;
      bottom: 20px; }

#about-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 20px;
  overflow: hidden; }
  #about-container #img-container {
    width: 250px;
    height: 100%;
    margin-right: 20px;
    float: left; }
    #about-container #img-container #about-image {
      width: 250px;
      height: 350px; }

#intro-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 20px;
  overflow: hidden;
  text-align: center; }
  #intro-container p {
    position: relative;
    width: 50%;
    text-align: center;
    margin: 0 auto; }

#featured-teas {
  position: relative;
  width: 75%;
  height: 350px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 20px;
  overflow: hidden;
  text-align: center; }
  #featured-teas #tea1 {
    float: left;
    overflow: hidden;
    width: 30%;
    height: 100%; }
    #featured-teas #tea1 img {
      height: 85%;
      width: 85%; }
  #featured-teas #tea2 {
    margin: 0 auto;
    overflow: hidden;
    width: 30%;
    height: 100%; }
    #featured-teas #tea2 img {
      height: 85%;
      width: 85%; }
  #featured-teas #tea3 {
    float: right;
    overflow: hidden;
    width: 30%;
    height: 100%; }
    #featured-teas #tea3 img {
      height: 85%;
      width: 85%; }

#product-header img {
  width: 100%;
  height: 80%; }
