@import "http://webfonts.ru/import/america.css";
body, html {
	margin:0;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
	font-family: 'America XIX';
	font-size: 24pt;
	font-weight: normal;
}

body {
	height: 500%;
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

* {
	/*border: dotted #000000 2px;*/
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 8pt;
	line-height: 18px;

}

#featured {
	position: fixed;
}

#container {

}
.project-info {
	position:fixed;
    top:50%;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    margin-top: -170px;
}

.project-title {
	font-size: 46pt;
	margin: 0;
	margin-bottom: 35px;
	text-align: center;
}

.project-tags {
	font-size: 8pt;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	line-height: 18px;
	margin-top: 30px;
	font-style: italic;
}

.project-description {
	font-size: 8pt;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	line-height: 18px;
}

.btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: 'America XIX';
	color: #000000;
	font-size: 24pt;
	background-color: #ffffff;
	padding: 10px 20px 10px 20px;
	border: solid #000000 2px;
	text-decoration: none;
	text-align: center;
	width: 230px;
	position: relative;
	left: 50%;
	margin-top: 35px;
	margin-left: -136px;
	/*transition: background 0.1s ease;*/

	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

	-webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}

.btn:hover {
	background: #000000;
	color: #ffffff;
	transition: background 0.1s ease;
}

.logo{
	position: fixed;
	width: 180px;
	left: 8%;
	top: 20px;
	z-index: 565656;
}

.description1 {
	position: fixed;
	right: 25%;
	top: 56px;
	font-size: 10pt;
}

.description2 {
	position: fixed;
	right: 10%;
	top: 56px;
	font-size: 10pt;
}

.info {
	position: fixed;
	font-family: 'America XIX';
	font-size: 24pt;
	bottom: 30px;
	left: 10%;
	font-weight: normal;
	padding-bottom: 5px;
	z-index: 15;
	border-bottom: solid 2px transparent;
}
.info:hover {
	border-bottom: solid 2px #000000;
}
.work {
	position: fixed;
	font-family: 'America XIX';
	font-size: 24pt;
	bottom: 30px;
	right: 10%;
	padding-bottom: 5px;
	z-index: 15;
	border-bottom: solid 2px transparent;
}
.work:hover {
	border-bottom: solid 2px #000000;
}

.left-nav {
	position: fixed;
	background-color: #ff0000;
	height: 100%;
	width:20%;
	left: -20%;

	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.right-nav {
	position: fixed;
	background-color: #ff0000;
	height: 100%;
	width:20%;
	right: -20%;

	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.info-text {
	margin-left: 50px;
	margin-right: 50px;
}

.work-text {
	margin-left: 50px;
	margin-right: 50px;
}