* {
	font-family: 'Montserrat', sans-serif;
	/*border: dashed 1px;*/
}

::-webkit-scrollbar { 
    display: none; 
}

body,html{
	/*height: 100% !important;*/
	overflow: hidden;
	border: none;
	margin: 0;
}

#logo {
	position: fixed;
	height: 42px;
	z-index: 500;
	top: 10px;
	left: 10px;
}

#bottom-nav {
	position: fixed;
	right: 0;
	bottom: 25px;
	width: 500px;
	color: #aaaaaa;
	z-index: 500;
}

.bottom-nav-btn {
	position: relative;
	display: inline-block;
	margin-right: 16%;
	float: right;
	font-size: 16pt;
	border-bottom: solid 3px transparent;
}

.project-container-left {
	position: fixed;
	height: 100%;
	white-space: nowrap;
	top: 100%;
}

.project-container-right {
	position: fixed;
	height: 100%;
	white-space: nowrap;
	top: 100%;
	right: 0;
	float: right;
}

.project-container-left .project-img {
	position: relative;
	height: 500px;
	/*width: 870px;*/
	left: 650px;
	top: 50%;
	margin-top: -250px;
	margin-right: 200px;
	box-shadow: 20px 20px 20px #cccccc;
	border: none;
}

.project-container-right .project-img {
	position: relative;
	height: 500px;
	/*width: 870px;*/
	right: 650px;
	top: 50%;
	float: right;
	margin-top: -250px;
	margin-left: 200px;
	box-shadow: 20px 20px 20px #cccccc;
	border: none;
}

.project-container-left .project-metadata {
	position: fixed;
	display: inline-block;
	width: 340px;
	left: 150px;
  	top: 50%;
  	margin-top: -150px;
  	white-space: normal;
}

.project-container-right .project-metadata {
	position: fixed;
	display: inline-block;
	width: 340px;
	right: 150px;
  	top: 50%;
  	margin-top: -150px;
  	white-space: normal;
}

.project-title {
	font-size: 14pt;
	margin-bottom: 20px;
}

.project-description {
	font-size: 10pt;
}

.project-launch {
	position: relative;
	font-size: 14pt;
	display: inline-block;
	border: solid 2px black;
	width: 336px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 30px;
}

.project-launch a{
	text-decoration: none;
	color: black;
	display: block;
}

.project-launch a:hover{
	color: white;
}

.containers {
	/*display: none;*/
	/*opacity: 0;*/
}

#about-container {
	position: fixed;
	/*width: 400px;*/
/*	top: 50%;
	margin-top: -200px;*/
	/*left: 30%;*/
}

#about-text {
	position: fixed;
	width: 400px;
	top: 50%;
	margin-top: -200px;
	left: 30%;
	z-index: -1;
	font-size: 10pt;
}

#contact-container {
	position: fixed;
	width: 400px;
	top: 50%;
	margin-top: -200px;
	left: 30%;
}

.date {
	position: relative;
	float: right;
	font-style: italic;
	font-size: 8pt;
	margin-right: 2px;
}

.tags {
	font-style: italic;
	font-size: 8pt;
	margin-bottom: 20px;
}

