/** {
	border: 1px dashed black;
}*/

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}
.mainTitle {
	position: fixed;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 900px;
	margin-top: -115px;
	margin-left: -450px;
}

.titleText {
	font-size: 200px;
	line-height: 200px;
	text-align: center;
}

.filters {
	font-size: 30px;
	line-height: 30px;
	margin-left: 72px;
	margin-right: 72px;
	text-decoration: none;
}
.stickyNote {
	background-image:  url("../assets/stickynote.png");
	position: fixed;
	width: 297px;
	height: 298px;
	display: none;
	/*background-color: #ffff00;*/
}

.close {
	font-size: 10px;
	margin: 5px;
	float: right;
	cursor: pointer;
}
.stickyNote p {
	margin: 15px;
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

