@import "http://webfonts.ru/import/america.css";
body, html {
	margin:0;
	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'America XIX';
	font-size: 24pt;
	font-weight: normal;
}

body {
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

* {
	/*border: dotted #000000 2px;*/
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 8pt;
	line-height: 18px;
}

.logo{
	position: fixed;
	width: 100px;
	left: 10px;
	top: 0px;
	z-index: 565656;
}

.content {
	position: relative;
	width: 80%;
	margin-left: 10%;
}

.project-img {
	width: 100%;
	opacity: 0.4;
}

.project-title {
	padding-top: 100px;
	margin-left: 10px;
	opacity: 0.4;
}

.project-client {
	margin-left: 10px;
	opacity: 0.4;
}

.project-date {
	margin-left: 10px;
	opacity: 0.4;
}

::-webkit-scrollbar { 
    display: none; 
}