@import "http://webfonts.ru/import/america.css";
body, html {
	margin:0;
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
	font-family: 'America XIX';
	font-size: 24pt;
	font-weight: normal;
}

body {
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  text-align: center;
}

p {
	font-family: 'Work Sans', sans-serif;
}

a {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 2px;
	color: black;
}

.scrolling-content {
	text-align: center;
	display:inline-block;
	max-width: 900px;
}

.logo{
	position: fixed;
	width: 80px;
	left: 20px;
	top: 20px;
	z-index: 565656;
}

.logo svg {
	-webkit-transition: fill 200ms linear;
  -moz-transition: fill 200ms linear;
  -o-transition: fill 200ms linear;
  -ms-transition: fill 200ms linear;
transition: fill 200ms linear;
}

.project-container {
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-size: 8pt;
	margin-bottom:10vw;
	line-height: 18px;
	/*height: 100%;*/
	max-width: 650px;
	display:inline-block;
	margin: 0 120px;
	text-align: left;
	/*padding: 10%;*/
}

.project-container .project-img:first-of-type {
	margin-top: 50px;
}

.project-container .project-img:last-of-type {
	margin-bottom: 20px;
}

.project-container:nth-of-type(2) .project-img:first-of-type{
	margin-bottom: 100px;
	opacity: 1;
}

.project-container:last-of-type .project-img:first-of-type{
	margin-bottom: 100px;
	opacity: 1;
}

.project-img {
	max-width: 100%;
	max-height:1000px;
	margin: 100px 0;
	opacity: 1;
	/*box-shadow: 10px 10px 100px 5px #606060;*/
}

#img-wrap {
	text-align: center;
}

.project-title {
	position: relative;
	padding-top: 120px;
		-webkit-transition: color 200ms linear;
	  -moz-transition: color 200ms linear;
	  -o-transition: color 200ms linear;
	  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
	line-height: 440%;
}

.project-title .title {
	position: relative;
	font-family: 'America XIX';
	font-size: 34px;
}

.project-title .subtitle {
	position: relative;
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: -1px;
	font-size: 36px;
}

.project-description {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	position: relative;
	padding-top: 40px;
	font-size: 16px;
}

.project-description a {
		-webkit-transition: color 200ms linear, border-bottom-color 200ms linear;
	  -moz-transition: color 200ms linear, border-bottom-color 200ms linear;
	  -o-transition: color 200ms linear, border-bottom-color 200ms linear;
	  -ms-transition: color 200ms linear, border-bottom-color 200ms linear;
	transition: color 200ms linear, border-bottom-color 200ms linear;
}

.project-date {
	position: relative;
}


nav {
	position: fixed;
/*	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	 transform: rotate(-90deg);*/
	z-index: 565656;
	bottom: 20px;
	left: 28px;
}

.work {
	margin-left: 50px;
}

.nav-item {
	border-bottom: 0px solid black;
	font-family: 'Work Sans';
	font-size:50px;
	padding-bottom:3px;
	display:inline-block;
	cursor: pointer;
		-webkit-transition: color 200ms linear;
	  -moz-transition: color 200ms linear;
	  -o-transition: color 200ms linear;
	  -ms-transition: color 200ms linear;
  transition: color 200ms linear, 200ms opacity ease-in-out ;
  opacity:1;
}

.nav-item:hover {
	opacity: 0.5;
}

aside {
	font-family: 'Work Sans';
	z-index: 565656;
		-webkit-transition: color 200ms linear;
	  -moz-transition: color 200ms linear;
	  -o-transition: color 200ms linear;
	  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

#communications {
	width: 500px;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	 transform: rotate(90deg);
	position: fixed;
	top: 275px;
	right:-215px;
	text-align: left;
	font-size: 12px;
}

#talk2us {
	width: 200px;
	position: fixed;
	bottom: 30px;
	right: 35px;
	text-align: right;
	line-height: 160%;
	font-size: 12px;
}

#about-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	z-index:565657;
	display: none;
	top: 0;
	lefT: 0;
	text-align: center;
	overflow: scroll;
		-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#about-close {
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 20px;
	left: 22px;
	cursor: pointer;
		-webkit-transition: color 1000ms linear;
	  -moz-transition: color 1000ms linear;
	  -o-transition: color 1000ms linear;
	  -ms-transition: color 1000ms linear;
	transition: color 1000ms linear,  200ms opacity ease-in-out;
	opacity:1;
}

#about-close:hover {
	opacity: 0.5;
}

#about-close div {
	width: 100%;
	position: absolute;
	height:4px;
	background-color: white;
}

#about-close div:nth-child(1) {
	margin-top: 6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#about-close div:nth-child(2) {
	margin-top: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#about-wrap {
	text-align: left;
	display:inline-block;
	max-width: 800px;
	margin: auto 50px;
	font-size: 46px;
	color: white;
	letter-spacing:-1px;
	font-weight: 400;
	line-height: 140%;
		-webkit-transition: color 1000ms linear;
	  -moz-transition: color 1000ms linear;
	  -o-transition: color 1000ms linear;
	  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}

#about-wrap span {
	font-family: 'America XIX';
}

#about-wrap p a {
	color: white;
	border-bottom: 1px solid white;
		-webkit-transition: color 1000ms linear;
	  -moz-transition: color 1000ms linear;
	  -o-transition: color 1000ms linear;
	  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}
/*
.blur {
	-webkit-filter: blur(10px);
	filter: blur(10px);
}*/

@media screen and (max-width: 950px) {
	#about-wrap {
		font-size:40px;
		padding-bottom: 45px;
	}
}

@media screen and (max-width: 900px) {
	.project-container {
		margin: 0 30px;
	}

	aside {
		display: none;
	}

	.project-title {
		padding-top: 110px;
	}

	.project-description {
	}

	.project-container .project-img:first-of-type {
		margin-top: 50px;
	}

	.project-container .project-img:last-of-type {
		margin-bottom: 16vw;
	}

	.project-container:nth-of-type(2) .project-img:first-of-type{
		margin-bottom: 8vw;
		opacity: 1;
	}

	.project-container:last-of-type .project-img:first-of-type{
		margin-bottom: 8vw;
		opacity: 1;
	}

	.project-img {
		margin: 8vw 0;
	}
}

@media screen and (max-width: 750px) {
	#about-wrap {
		font-size: 25px;
	}
}

@media screen and (max-width:700px) {

	.project-title {
		line-height: 280%;
	}
	.project-title .subtitle {
		font-size: 20px;
	}	

	.project-title .title {
		font-size: 20px;
	}
}

@media screen and (max-height: 550px) {
	#talk2us{
		display: none;
	}
}

@media screen and (max-width: 520px) {
	#about-wrap {
		font-size: 22px;
		margin: auto 30px;
	}
}
