
footer {
	width: 75%;
	padding: 10px 0px;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;

	p {
		display: inline;
	}

	ul {

		margin: 0;
		padding: 0;
		float: right;

		li {
			display: inline;
			list-style-type: none;
			margin-left: 13px;

			a {
				text-decoration: none;
			}
		}
	}
}