
* {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}

canvas {
 border: 1px dashed red;
} 

.plot_title {
	text-align: center;
}

.view_div {
	position: relative;
	display: inline-block;
	margin: 40px;
}

input {
	position: relative;
	width: 50px;
}

#xpos {
	position: relative;
	left: 10%;
}

#ypos {
	position: relative;
	left: 10%;
}

label[for=xpos]
{
	position: relative;
    left: 10%;
}

label[for=ypos]
{
	position: relative;
    left: 10%;
}


.input_submit {
	width: 120px;
	left: 50%;
	margin-left: -60px;
}

.plot_y_label {
	position: relative;
	text-align: center;
	top: -125px;
	left: -125px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.plot_x_label {
	position: relative;
	text-align: center;
	top: -30px;
}

#settings_container {
	position: relative;
	margin-top: 50px;
}

.settings_steps {
	position: relative;
	display: inline-block;
	float: top;
	width: 350px;
	margin: 0 20px;
	vertical-align: top;
}

#voter_text {
	display: inline-block;
	position: relative;
	left: 15%;
}

#deviation_text {
	display: inline-block;
	position: relative;
	left: 15%;
}

#resolution_text {
	display: inline-block;
	position: relative;
	left: 94px;
}

#settings_title {
	text-decoration: underline;
}

#notes_title {
	text-decoration: underline;
}

#num_voters_input {
	display: none;
}

#num_voters_input_help {
	display: none;
}

#deviation_input {
	display: none;
}

#deviation_input_help {
	display: none;
}

#run_simulation_button {
	position: relative;
	width: 150px;
	height: 50px;
	left: 50%;
	margin-left: -75px;
	font-size: 14pt;
	margin-top: 10px;
	/*text-align: center;*/
}

h4 {
	text-align: justify;
}

#change_voters_button {
	position: relative;
	left: 15%;
}

#change_deviation_button {
	position: relative;
	left: 15%;
}

#run_simulation_helper {
	display: inline-block;
	position: relative;
	left: 50%;
}

#run_simulation_helper {
	display: none;
}

#loader {
	display: none;
	position: fixed;
	width: 100%;
	text-align: center;
	font-size: 52pt;
	top: 50%;
}